* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  color: #1D2033;
  min-height: 100vh;
  background-color: #F4F5F6;
}

#root {
  min-height: 100vh;
  background-color: #F4F5F6;
}
